<ion-header-bar align-title="left" class="bar-light" ng-if="callInProgress">
  <div class="buttons">
    <a class="button button-icon icon ion-more" ng-click="more()"></a>
  </div>
</ion-header-bar>

<ion-pane>
  <div class="row row-center" style="height: 100%" ng-if="!callInProgress && !callFinished">
    <div class="col">
      <h3>Đang kết nối...</h3>
    </div>
  </div>
  <div class="row row-center" style="height: 100%" ng-if="callInProgress">
    <div class="col text-center">
      <h3>
        Đang trò chuyện. <br/>
        Thời gian còn lại:
      </h3>
      <h1>
        <timer interval="1000" countdown="talkingTime" finish-callback="finish()">{{mminutes}}:{{sseconds}}</timer>
      </h1>
    </div>
  </div>

  <div class="row row-center" style="height: 100%" ng-if="callFinished">
    <div class="col text-center">
      <h3>Nếu thích người này bạn hãy ấn trái tim.</h3>
      <h1><timer interval="1000" countdown="decidingTime" finish-callback="back()">{{mminutes}}:{{sseconds}}</timer></h1>
      <button class="button button-outline button-royal ion-heart button-call" ng-click="like()"></button>
    </div>
  </div>
</ion-pane>