<ion-header-bar class="bar-light">
  <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="goContacts()"></button>
  <h1 class="title">{{room.name}}</h1>
  <button class="button button-clear button-icon icon ion-more" ng-click="more()"></button>
</ion-header-bar>
<ion-content>
  Some content!
</ion-content>