<tab-slide-box>
  <div class="tsb-icons">
    <div class="tsb-ic-wrp">
      <a href="javascript:;" class="ion-gear-b align-left"></a>
      <a href="javascript:;" class="icon-henho"></a>
      <a href="javascript:;" class="ion-chatbubbles align-right"></a>
    </div>
  </div>

  <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div ng-include="'templates/home_setting.html'"></div>
    </ion-slide>
    <ion-slide>
      <div ng-include="'templates/home_main.html'">ddd</div>
    </ion-slide>
    <ion-slide>
      <div ng-include="'templates/home_contacts.html'">ddd</div>
    </ion-slide>

  </ion-slide-box>
</tab-slide-box>