<ion-content style="text-align: left; margin-bottom: 4em;">
  <ion-list>
    <ion-item ng-repeat="room in rooms" item-height="50" ng-style="{'line-height': 50 + 'px'}" class="item-icon-right" ui-sref="chat({room: room})" ng-class="{'no-top-border': $index == 0, 'hairline-border': retina}">
      {{room.name}}
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>
</ion-content>