<ion-pane>
  <div class="row row-center">
    <div class="col">
      <button class="button button-outline button-balanced ion-ios-telephone button-call" ui-sref="call()"></button>
    </div>
  </div>
</ion-pane>