<ion-view view-title="Hẹn hò giấu mặt" nav-transition="none">
  <ion-content scroll="false">

      <div class="row row-center" style="height: 100%">
        <div class="col">
          <button class="button button-block button-positive" ng-click="fbLogin()">
            Đăng nhập với Facebook
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
