.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.tabbed-slidebox .slider {
  height: 100%;
}
.tabbed-slidebox.btm .slider {
  margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
  width: 100%;
}
.tabbed-slidebox .slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}
.tabbed-slidebox .tsb-icons {
  text-align: center;
  margin: 0 0 0 0;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tabbed-slidebox .tsb-icons {
    border: none;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}
.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  /* For Safari 3.1 to 6.0 */
  -webkit-transform: translate3d(0, 0, 0);
}
.tabbed-slidebox .tsb-icons a {
  display: inline-block;
  width: 40%;
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 150, 0.3);
  -webkit-transform: translate3d(0, 8px, 0);
}
.tabbed-slidebox .tsb-icons a.active {
  color: rgba(0, 0, 150, 1);
  font-size: 3.5em;
  -webkit-transform: translate3d(0, 0, 0);
}
.tabbed-slidebox .tabbed-slidebox {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.tsb-hscroll.scroll-view {
  white-space: nowrap;
  margin: 0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar {
  visibility: hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll {
  -webkit-transition: -webkit-transform 0.3s;
  /* For Safari 3.1 to 6.0 */
}
.tabbed-slidebox .tsb-icons .scroll a {
  width: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  text-decoration: none;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
  font-size: 1.8em;
  border-bottom: 3px solid #ccc;
}