.action-sheet .action-sheet-title {
  font-size: 14pt;
  line-height: 1.2;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gcglbf');
  src: url('../fonts/icomoon.eot?gcglbf#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?gcglbf') format('truetype'), url('../fonts/icomoon.woff?gcglbf') format('woff'), url('../fonts/icomoon.svg?gcglbf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-henho:before {
  content: "\e900";
  display: inline-block;
}
.button-call {
  font-size: 4em !important;
  width: 2em !important;
  height: 2em !important;
  border-radius: 50% !important;
  -webkit-transition: 0.1s linear !important;
  transition: 0.1s linear !important;
}
.button-logout {
  font-size: 2em;
  -webkit-transition: 0.1s linear !important;
  transition: 0.1s linear !important;
}
.text-center {
  text-align: center;
}
.hairline-border {
  border: 0.5px solid #ddd;
}
.no-top-border {
  border-top: none;
}